<p>Caro(a) <%= @equipe.participante.nome.upcase %>,</p>

<p>A Comissão Organizadora da IV Semana de Ciência, Tecnologia e Extensão do IFRN tem a satisfação de comunicar que a sua equipe, <%= @equipe.nome.upcase %>, inscrita para a Olimpíada de Robótica do evento foi <strong>VALIDADA</strong>.</p>

<p>Os dados referentes a inscrição da sua equipe estão disponíveis no seguinte endereço: <a href="http://submissaosecitex.ifrn.edu.br/">http://submissaosecitex.ifrn.edu.br/</a>.</p>

<p>A programação da Olimpíada de Robótica será divulgada no site da SECITEX (<a href="https://eventos.ifrn.edu.br/secitex2018/">https://eventos.ifrn.edu.br/secitex2018/</a>) juntamente com a programação geral do evento.</p>

