<p>Caro(a) <%= @minicurso.participante.nome.upcase %>,</p>

<p>A Comissão Organizadora da IV Semana de Ciência, Tecnologia e Extensão do IFRN tem a satisfação de comunicar que sua proposta de minicurso/oficina, intitulada <%= @minicurso.titulo.upcase %>, foi <strong>ACEITA</strong>.</p>

<p>Os dados referentes a realização do seu minicurso/oficina (local, data e horário) estão disponíveis no seguinte endereço: <a href="http://submissaosecitex.ifrn.edu.br/">http://submissaosecitex.ifrn.edu.br/</a>.</p>

