<p>Caro(a) <%= @trabalho.participante.nome.upcase %>,</p>

<p>Verificamos que você ainda não enviou a versão final do seu trabalho, intitulado <%= @trabalho.titulo.upcase %>. Lembramos que a data para envio da versão final dos trabalhos selecionados para o evento é <strong>28/10/2018</strong>. Caso não seja enviada a versão final do trabalho, ele não será incluído nos anais do evento.</p>

<p>A versão final do trabalho deve obedecer o mesmo modelo utilizado para a submissão da versão inicial, contendo agora a identificação dos autores e as correções sugeridas pelos avaliadores. O arquivo da versão final deve estar em formato PDF.</p>

<p>A versão final do seu trabalho deve ser enviada através do sistema de submissão de trabalhos do evento: <a href="http://submissaosecitex.ifrn.edu.br/">http://submissaosecitex.ifrn.edu.br/</a>.</p>

