<p>Caro(a) <%= @trabalho.participante.nome.upcase %>,</p>

<p>A Comissão Organizadora da IV Semana de Ciência, Tecnologia e Extensão do IFRN tem a satisfação de comunicar que seu trabalho, intitulado <%= @trabalho.titulo.upcase %>, foi <strong>SELECIONADO</strong> para apresentação no evento.</p>

<p>A versão final do seu trabalho deve ser enviada através do sistema de submissão de trabalhos do evento: <a href="http://submissaosecitex.ifrn.edu.br/">http://submissaosecitex.ifrn.edu.br/</a>, até a data de <strong>28/10/2018</strong>.</p>

<p>A informações sobre a programação e apresentação dos trabalhos serão divulgadas no site do evento: <a href="https://eventos.ifrn.edu.br/secitex2018/">https://eventos.ifrn.edu.br/secitex2018/</a>.</p>
