<div class="row">
  <div class="col-md-6">
    <h1><%= fa_icon 'trophy' %> Equipes</h1>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <% if current_user.admin? %>
        <a href="<%= new_admin_equipe_path %>" class="btn btn-primary"><%= fa_icon 'plus' %> Nova Equipe</a>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'table', locals: { equipes: @equipes } %>
