<p>Prezado(a) autor(a)</p>

<p>
  <strong><%= @minicurso.participante.nome %></strong>
</p>

<p class="justify">A Comissão Organizadora da IV SECITEX tem a satisfação de comunicar que seu minicurso ou oficina, intitulado <%= @minicurso.titulo.upcase %>, foi <strong>APROVADO</strong> pela Comissão Organizadora.
</p>

<p class="justify">O local e o horário da realização do seu minicurso ou oficina serão divulgados, posteriormente, na página do evento.</p>
