<h1>Prazo encerrado!</h1>

<p>Infelizmente o prazo para inscrições de equipes para a Olimpíada de Robótica da IV SECITEX se encerrou em <%= data(Config.instance.data_termino_inscricoes_robotica) %>.</p>
