<h2>Deseja se inscrever em um minicurso?</h2>
<p>Para se inscrever em minicursos, entre no endereço <a href="http://submissaosecitex.ifrn.edu.br" target="_blank">http://submissaosecitex.ifrn.edu.br</a>, preencha e envie suas credenciais, clique na aba 'Inscrições' e selecione o minicurso ao qual deseja se inscrever (disponível até <%= data(Config.instance.data_termino_inscricoes_minicursos) %>).</p>
