<h2>Deseja submeter trabalhos?</h2>
<p>Para submeter trabalhos, entre no endereço <a href="http://submissaosecitex.ifrn.edu.br" target="_blank">http://submissaosecitex.ifrn.edu.br</a>, preencha e envie suas credenciais, clique na aba 'Trabalhos' e clique no botão 'Enviar Trabalho' (disponível até <%= data(Config.instance.data_termino_submissao_trabalhos) %>).</p>
