<h2>Deseja propor um minicurso?</h2>
<p>Para propor minicursos, entre no endereço <a href="http://submissaosecitex.ifrn.edu.br" target="_blank">http://submissaosecitex.ifrn.edu.br</a>, preencha e envie suas credenciais, clique na aba 'Minicursos' e clique no botão 'Propor Minicurso' (disponível até <%= data(Config.instance.data_termino_submissao_minicursos) %>).</p>
