<h2>Deseja propor um minicurso ou uma oficina?</h2>
<p>Para propor minicursos e oficinas, entre no endereço <a href="http://submissaosecitex.ifrn.edu.br" target="_blank">http://submissaosecitex.ifrn.edu.br</a>, preencha e envie suas credenciais, clique na aba 'Minicursos e Oficinas' e clique no botão 'Propor Minicurso ou Oficina' (disponível até <%= data(Config.instance.data_termino_submissao_minicursos) %>).</p>
