<h2>Deseja submeter trabalhos?</h2>
<p>Para submeter trabalhos, entre no endereço <a href="http://191.252.185.219" target="_blank">http://191.252.185.219</a>, preencha e envie suas credenciais, clique na aba 'Trabalhos' e clique no botão 'Enviar Trabalho' (disponível até <%= data(Config.instance.data_termino_submissao_trabalhos) %>).</p>
