<p>Caro(a) <%= @participante.nome %>,</p>

<p>Sua equipe para a Olimpíada de Robótica da IV SECITEX foi inscrita com sucesso e será avaliada pela comissão organizadora.</p>

<p>
  Você será notificado via e-mail caso a sua equipe seja validada ou não, contudo, pode acompanhar a atual situação da validação através do endereço <%= link_to "http://submissaosecitex.ifrn.edu.br", "http://submissaosecitex.ifrn.edu.br" %>, clicando na aba 'Olimpíada de Robótica', e, em seguida, selecionando a equipe que deseja verificar a avaliação.
</p>

