<p>Caro(a) <%= @participante.nome %>,</p>

<p>Seu minicurso/oficina para a IV SECITEX foi proposto(a) com sucesso e será avaliado(a) pela comissão organizadora.</p>

<p>
  Você será notificado via e-mail caso o seu minicurso/oficina seja aprovado(a) ou não, contudo, pode acompanhar a atual situação da avaliação através do endereço <%= link_to "http://submissaosecitex.ifrn.edu.br/", "http://submissaosecitex.ifrn.edu.br/" %>, clicando na aba 'Minicursos e Oficinas', e, em seguida, selecionando o minicurso/oficina que deseja verificar a avaliação.
</p>

