<p>Caro(a) <%= @participante.nome %>,</p>

<p>Seu trabalho para a IV SECITEX foi submetido com sucesso e será avaliado pela comissão organizadora.</p>

<p>
  Você será notificado via e-mail caso o seu trabalho seja aprovado ou não, contudo, pode acompanhar a atual situação da avaliação através do endereço <%= link_to "http://submissaosecitex.ifrn.edu.br", "http://submissaosecitex.ifrn.edu.br" %>, clicando na aba 'Trabalhos', e, em seguida, selecionando o trabalho que deseja verificar a avaliação.
</p>

