<p>Caro(a) <%= @participante.nome %>,</p>

<p>Seu trabalho para a VI EXPOTEC foi submetido com sucesso e será avaliado pela comissão organizadora.</p>

<p>
  Você será notificado via e-mail caso o seu trabalho seja aprovado ou não, contudo, pode acompanhar a atual situação da avaliação através do endereço <%= link_to "http://191.252.185.219", "http://191.252.185.219" %>, clicando na aba 'Trabalhos', e, em seguida, selecionando o trabalho que deseja verificar a avaliação.
</p>
