<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <style>
      .container, .content {
        position: absolute;
        top: 0;
        left: 0;
      }
      .content {
        z-index: 10;
        margin-top: 9.2cm;
        margin-right: 2.6cm;
        margin-left: 2.6cm;
        text-align: justify;
        line-height: 0.6cm;
      }
      .background {
        width: 29cm;
        height: 20.3cm;
      }
      p.right-side {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%= wicked_pdf_image_tag 'Secitex2018', class: 'background' %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
